.about__header {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.about__list {
  .reset-list();
}

.about__item-description {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}
