.add-to-cart {
  display: none;
}

.add-to-cart__header {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.add-to-cart__description {
  font-size: 15px;
  line-height: 30px;
  color: @black-light;
}

.add-to-cart__sizes-list {
  .reset-margins-n-paddings();
}

.add-to-cart__size-label {
  font-size: 17px;
  line-height: 16px;
  color: @black-light;
  font-weight: 700;
}

.add-to-cart__button {
  background-color: @mint-light;
  border: none;
  color: @white-basic;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
}
