.contacts__container {
  display: grid;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: @tablet) {
    padding-top: 70px;
    padding-bottom: 57px;
  }

  @media (min-width: @desktop) {
    .set-as-container();
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: max-content;
    margin-bottom: 50px;
  }

  &::before {
    content: "";
    display: none;

    @media (min-width: @tablet) {
      display: block;
      position: absolute;
      width: 47px;
      height: 81px;
      background-color: @mint-light;
      right: 55px;
      top: 45px;
    }

    @media (min-width: @desktop) {
      display: block;
      position: static;
      width: 47px;
      height: 81px;
      background-color: @mint-light;
      grid-column: ~"1 / 2";
      justify-self: center;
      margin-top: 64px;
    }
  }
}

.contacts__button-wrapper,
.contacts__content-wrapper {
  @media (min-width: @desktop) {
    .reset-container();
    align-self: start;
    grid-column: ~"2 / 4";
    grid-row: ~"1 / 2";
  }
}

.contacts__button-wrapper {
  @media (min-width: @tablet) {
    display: flex;
    justify-content: center;
  }

  @media (min-width: @desktop) {
    grid-row: ~"2 / 3";
    justify-content: flex-start;
  }
}

.contacts__button {
  padding: 14px 35px;
}


.contacts__header {
  font-size: @h-font-size-mobile;
  line-height: @h-line-height-mobile;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 28px;

  @media (min-width: @tablet) {
    font-size: @h-font-size-tablet;
    line-height: @h-line-height-tablet;
    margin-bottom: 48px;
  }

  @media (min-width: @desktop) {
    font-size: @h-font-size-desktop;
    line-height: @h-line-height-desktop;
    padding-top: 80px;
    margin-bottom: 35px;
  }
}

.contacts__list {
  .reset-margins-n-paddings();
  margin-bottom: 60px;

  @media (min-width: @tablet) {
    display: flex;
    margin-bottom: 47px;
  }

  @media (min-width: @desktop) {
    display: block;
    margin-bottom: 85px;
  }
}

.contacts__item {
  display: flex;
  align-items: baseline;

  &:first-child {
    margin-bottom: 30px;
  }

  @media (min-width: @tablet) {
    flex-basis: 50%;
  }
}

.contacts__item-label,
.contacts__item-value {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: @black-light;

  @media (min-width: @tablet) {
    font-size: 17px;
  }
}

.contacts__item-label {
  margin-right: 34px;

  @media (min-width: @tablet) {
    margin-right: 25px;
  }
}

.contacts__map {
  border: none;
  margin-bottom: 44px;
  width: 100%;
  background-image: url("../img/map-image.png");
  height: 454px;

  @media (min-width: @tablet) {
    height: 457px;
    margin-bottom: 56px;
  }

  @media (min-width: @desktop) {
    grid-column: ~"4 / 7";
    grid-row: ~"1 / 3";
  }
}
