.contacts__container {
  display: grid;

  @media (min-width: @desktop) {
    .set-as-container();
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: max-content;
    padding: 0 @desktop-padding;
  }
}

.contacts__button-wrapper,
.contacts__content-wrapper {
  padding: 0 @mobile-padding;

  @media (min-width: @tablet) {
    padding: 0 @tablet-padding;
  }

  @media (min-width: @desktop) {
    padding: 0;
    margin: 0;
    width: auto;
    align-self: start;
    grid-column: ~"2 / 4";
    grid-row: ~"1 / 2";
  }
}

.contacts__button-wrapper {
  @media (min-width: @desktop) {
    grid-row: ~"2 / 3";
  }
}

.contacts__header {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.contacts__list {
  .reset-margins-n-paddings();

  @media (min-width: @tablet) {
    display: flex;
  }

  @media (min-width: @desktop) {
    display: block;
  }
}

.contacts__item {
  display: flex;
  align-items: baseline;

  @media (min-width: @tablet) {
    flex-basis: 50%;
  }
}

.contacts__item-label,
.contacts__item-value {
  font-size: 14px;
  line-height: 30px;
  color: @black-light;
}

.contacts__map {
  border: none;
  width: 100%;
  background-image: url("/../img/map-image.png");

  @media (min-width: @desktop) {
    grid-column: ~"4 / 7";
    grid-row: ~"1 / 3";
  }
}
