.light-link {
  display: block;
  text-decoration: underline;
  color: @black-light;
  text-decoration-color: @mint-link-border;
  outline: none;

  &:hover,
  &:focus {
    color: @mint-link;
  }

  &:active {
    color: @mint-link;
    text-decoration-color: @mint-link-border--active;
  }
}
