.page-header {
  background-color: @white-basic;
}

.page-header__site-navigation-list,
.page-header__additional-menu-container {
  .reset-list();
}

.page-header__site-navigation-link,
.page-header__user-button {
  display: block;
  font-size: 17px;
  font-weight: 700;
  color: @black-basic;
  text-decoration: none;
}

.page-header__additional-menu-link {
  display: block;
  font-weight: 700;
  color: @black-basic;
  text-decoration: none;
}

