.page-header {
  border-top: 1px solid @gray-border;
  position: relative;
  z-index: 1;

  @media (min-width: @tablet) {
    border-top: none;
  }

  &::before {
    @media (min-width: @tablet) {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: @black-transparent-10;
    }
  }
}

.page-header__container {
  position: relative;

  @media (min-width: @tablet) {
    .set-as-container();
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: -@pfh-tablet-padding;
  }

  @media (min-width: @desktop) {
    grid-template-columns: 5fr 2fr 5fr;
  }
}

.page-header__logo-container {
  display: grid;
  grid-template-columns: 1fr;
  .set-as-container();

  @media (min-width: @tablet) {
    min-height: @header-tablet-height;
    .reset-container();
    grid-row: ~"1 / 2";
    grid-column: ~"1 / 4";
    justify-self: start;
  }

  @media (min-width: @desktop) {
    min-height: @header-desktop-height;
    grid-column: ~"2 / 3";
    justify-self: center;
    align-self: start;
  }
}

.page-header__logo-link {
  display: block;
  justify-self: center;
  align-self: center;
  grid-row: ~"1 / 2";
  padding: 22px 0 21px 18px;
  box-sizing: border-box;

  @media (min-width: @tablet) {
    padding: 0;
  }
}

.page-header__logo-image-container {
  display: block;
  position: relative;
  width: 86px;
  height: 35px;

  @media (min-width: @tablet) {
    width: 112px;
    height: 46px;
  }

  @media (min-width: @desktop) {
    width: 149px;
    height: 72px;
  }
}

.page-header__logo-image {
  &--minimal {
    @media (min-width: @tablet) {
      display: none;
    }
  }

  &--medium {
    display: none;

    @media (min-width: @tablet) {
      display: block;
    }

    @media (min-width: @desktop) {
      display: none;
    }
  }

  &--large {
    display: none;

    @media (min-width: @desktop) {
      display: block;
    }
  }
}

.page-header__menu-toggle {
  display: none;
  .clear-button();
  padding: 0;
  cursor: pointer;
  height: 14px;
  width: 21px;
  background-image: url("../img/hamburger-menu-icon.svg");
  background-repeat: no-repeat;

  grid-row: ~"1 / 2";
  justify-self: end;
  align-self: center;

  &--closed {
    display: block;
  }

  &--opened {
    display: block;
    height: 20px;
    width: 21px;
    background-image: url("../img/close-menu-icon.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet) {
    display: none;
  }
}

.page-header__site-navigation-list,
.page-header__additional-menu-container {
  .reset-margins-n-paddings();
}

.page-header__site-navigation {
  @media (min-width: @tablet) {
    height: @pfh-tablet-padding;
    grid-column: ~"1 / 6";
    grid-row: ~"2 / 3";
    align-self: end;
    overflow-y: auto;
  }

  @media (min-width: @desktop) {
    grid-column: ~"1 / 2";
    grid-row: ~"1 / 2";
    align-self: stretch;
    height: auto;
    overflow-y: initial;
  }
}

.page-header__user-buttons-container {
  @media (min-width: @tablet) {
    min-height: @header-tablet-height;

    display: flex;
    flex-wrap: wrap;

    grid-column: ~"4 / -1";
    grid-row: ~"1 / 2";
    justify-self: end;
  }

  @media (min-width: @desktop) {
    grid-column: ~"3 / 4";
    min-height: @header-desktop-height;
    flex-wrap: nowrap;
  }
}

.page-header__site-navigation-list {
  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 21px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop) {
    padding: 0;
  }
}

.page-header__site-navigation-item,
.page-header__user-button-container {
  display: block;
  border-bottom: 1px solid @gray-border;
  position: relative;

  @media (min-width: @tablet) {
    border: none;
  }

  &:first-child[class="page-header__site-navigation-item"] {
    border-top: 1px solid @gray-border;

    @media (min-width: @tablet) {
      border: none;
    }

    @media (min-width: @desktop) {
      border: none;
      border-right: 1px solid @black-transparent-10;
    }
  }
}

.page-header__site-navigation-item {
  box-sizing: border-box;

  @media (min-width: @tablet) {
    margin-right: 37px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop) {
    margin: 0;
    position: relative;
    width: 185px;
  }

  &:nth-child(2n-1) {
    @media (min-width: @desktop) {
      margin-right: 35px;
      border-right: 1px solid @black-transparent-10;
      padding-right: 35px;
    }

    &::after {
      @media (min-width: @desktop) {
        content: "";
        height: 1px;
        width: 100vw;
        bottom: 0;
        left: 100%;
        background-color: @black-transparent-10;
        position: absolute;
      }
    }

    &::before {
      @media (min-width: @desktop) {
        content: "";
        position: absolute;
        height: 1px;
        width: 100vw;
        bottom: 0;
        right: 0;
        background-color: @black-transparent-10;
      }
    }
  }
}


.page-header__site-navigation-link,
.page-header__user-button {
  display: block;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 700;
  color: @black-basic;
  text-decoration: none;
  .set-as-container();
  padding-top: 28px;
  padding-bottom: 26px;
  padding-left: @mobile-padding + 45px;

  @media (min-width: @tablet) {
    .reset-container();
  }
}

.page-header__site-navigation-link {
  @media (min-width: @tablet) {
    font-size: 15px;
  }

  @media (min-width: @desktop) {
    font-size: 17px;
    padding-top: 33px;
    padding-bottom: 31px;
  }
}

.page-header__user-button {
  position: relative;
  outline: none;

  &--search {
    @media (min-width: @tablet) {
      font-size: 0;
      color: transparent;
      position: relative;
      min-height: @header-tablet-height;
      width: 83px;
      border-left: 1px solid @black-transparent-10;
      border-right: 1px solid @black-transparent-10;
    }

    @media (min-width: @desktop) {
      min-height: @header-desktop-height;
      width: 84px;
    }
  }

  &--cart {
    box-sizing: border-box;

    @media (min-width: @tablet) {
      padding: 33px 0 31px 83px;
      min-width: 264px;
    }

    @media (min-width: @desktop) {
      min-width: 266px;
      padding-top: 34px;
      padding-bottom: 30px;
    }
  }

  &:hover,
  &:focus {
    color: @black-transparent-60;
  }

  &:active {
    color: @black-transparent-30;
  }

  &:hover &-icon,
  &:focus &-icon {
    fill: @mint-light;
    opacity: 1;
  }

  &:active &-icon {
    fill: @mint-light;
    opacity: 0.3;
  }
}

.page-header__user-button-icon {
  display: block;
  fill: @black-basic;
  opacity: 0.2;

  &--cart {
    position: absolute;
    left: @mobile-padding;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 21px;

    @media (min-width: @desktop) {
      left: 31px;
    }
  }

  &--search {
    position: absolute;
    left: @mobile-padding;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 18px;

    @media (min-width: @tablet) {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


.page-header__main-menu-container {
  display: grid;

  @media (min-width: @tablet) {
    margin-bottom: -@pfh-tablet-padding;

    display: grid;
    grid-template-columns: repeat(8, 1fr);

    grid-row: ~"1 / -1";
    grid-column: ~"1 / -1";
  }

  @media (min-width: @desktop) {
    margin-bottom: 0;
    grid-template-columns: 5fr 2fr 5fr;
    grid-row: ~"1 / 2";
  }

  &--closed {
    display: none;

    @media (min-width: @tablet) {
      display: grid;
    }
  }

  &--opened {
    display: grid;
    z-index: 1;
    top: 100%;
    right: 0;
    left: 0;
    position: absolute;
    background-color: @white-basic;

    @media (min-width: @tablet) {
      position: static;
      background-color: transparent;
    }
  }
}

.page-header__additional-menu-container {
  display: none;

  @media (min-width: @desktop) {
    height: @pfh-desktop-padding;
    box-sizing: border-box;
    overflow-y: auto;

    padding-top: 21px;

    display: flex;
    flex-wrap: wrap;

    grid-row: ~"2 / 3";
    grid-column: ~"1 / 2";
    justify-self: start;
  }
}

.page-header__additional-menu-link {
  display: block;
  font-weight: 700;
  color: @black-basic;
  text-decoration: none;

  margin-right: 63px;
}

.page-header__delivery-info {
  display: none;
  text-align: right;

  @media (min-width: @tablet) {
    display: block;
    margin: 0;
    padding-top: 20px;
    box-sizing: border-box;
    height: @pfh-tablet-padding;
    overflow-y: auto;

    grid-column: ~"6 / -1";
    grid-row: ~"2 / 3";
    justify-self: end;
  }

  @media (min-width: @desktop) {
    height: @pfh-desktop-padding;
    grid-column: ~"3 / 4";
  }
}
