.products__list {
  .reset-margins-n-paddings();
  display: grid;

  @media (min-width: @desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.products__item {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop) {
    grid-template-columns: 1fr;
  }
}

.products__image-link {
  display: block;

  @media (min-width: @tablet) {
    grid-row: ~"1 / 3";
  }

  @media (min-width: @desktop) {
    grid-row: auto;
  }
}

.products__image {
  object-fit: contain;
  height: auto;
}

.products__content-container {
  @media (min-width: @tablet) {
    grid-column: ~"2 / 3";
    grid-row: ~"1 / 2";
  }

  @media (min-width: @desktop) {
    grid-column: auto;
    grid-row: auto;
  }
}

.products__price-container {
  grid-column: ~"1 / 2";

  display: flex;

  @media (min-width: @tablet) {
    grid-column: ~"2 / 3";
    grid-row: ~"2 / 3";
    align-self: end;
  }

  @media (min-width: @desktop) {
    grid-column: auto;
    grid-row: auto;
  }
}

.products__link {
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: @black-basic;
}

.products__properties {
  font-size: 13px;
  line-height: 30px;
  color: @black-light;
}

.products__price {
  font-weight: 700;
}
