.products-for-home {
  background-color: @gray-products;
}

.products-for-home__header {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}

.products-for-home__categories-list {
  .reset-list();
}

.products-for-home__category-link {
  display: block;
  text-decoration: none;
  color: @white-basic;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;

  &--interior {
    background-color: @mint-light;
  }

  &--toys {
    background-color: @mint-dark;
  }
}
