.products-for-home {
  position: relative;
  background-color: @gray-products;
}

.products-for-home__container {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  min-height: 506px;
  padding-top: 90px;
  box-sizing: border-box;
}

.products-for-home__image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.products-for-home__header {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  padding: 0 @mobile-padding;
  margin: 0;
  text-align: center;

  grid-column: ~"1 / -1";
  z-index: 1;

  @media (min-width: @tablet) {
    padding: 0 @tablet-padding;
  }
}

.products-for-home__categories-list {
  .reset-margins-n-paddings();
  z-index: 1;
  grid-column: ~"1 / -1";
  align-self: end;

  @media (min-width: @tablet) {
    padding: 0 @tablet-padding;
  }
}

.products-for-home__category-link {
  display: block;
  text-decoration: none;
  color: @white-basic;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  padding: 0 @mobile-padding;
  box-sizing: border-box;

  &--interior {
    background-color: @mint-light;
  }

  &--toys {
    background-color: @mint-dark;
  }

  @media (min-width: @tablet) {
    padding: 0;
  }
}
