.products-for-home {
  background-color: @gray-products;
  min-height: 506px;
  display: flex;
  flex-direction: column;
}

.products-for-home__container {
  padding-top: 90px;
  box-sizing: border-box;
  position: relative;
  flex-grow: 1;
}

.products-for-home__image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.products-for-home__header {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  z-index: 1;
  position: relative;
}

.products-for-home__categories-list {
  .reset-margins-n-paddings();

  @media (min-width: @tablet) {
    .set-as-container();
  }
}

.products-for-home__category-link {
  display: block;
  text-decoration: none;
  color: @white-basic;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  box-sizing: border-box;

  &--interior {
    background-color: @mint-light;
  }

  &--toys {
    background-color: @mint-dark;
  }

  @media (min-width: @tablet) {
    padding: 0;
  }
}
