.week-product {
  position: relative;
}

.week-product__container {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 43px;
  margin-bottom: 31px;

  @media (min-width: @tablet) {
    padding-top: 40px;
    padding-bottom: 66px;
    margin-bottom: 7px;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, max-content);
    align-items: start;
  }

  @media (min-width: @desktop) {
    position: relative;

    padding-top: 36px;
    padding-bottom: 95px;
    margin-bottom: 0;
    grid-template-columns: repeat(6, 1fr);
  }

  &::before {
    content: "";
    position: absolute;
    height: 7px;
    background-image: url("../img/wave-pattern-gray.svg");
    background-repeat: repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    right: 0;

    @media (min-width: @tablet) {
      height: 17px;
    }

    @media (min-width: @desktop) {
      height: 23px;
      left: @desktop-padding;
      right: @desktop-padding;
    }
  }
}

.week-product__header-title {
  font-size: @h-font-size-mobile;
  line-height: @h-line-height-mobile;
  font-weight: 700;
  margin: 0;
  padding-top: 15px;
  grid-row: ~"1 / 2";

  @media (min-width: @tablet) {
    padding-top: 0;
    font-size: @h-font-size-tablet;
    line-height: @h-line-height-tablet;
    margin-bottom: 40px;

    grid-column: ~"1 / 4";
  }

  @media (min-width: @desktop) {
    font-size: @h-font-size-desktop;
    line-height: @h-line-height-desktop;
    margin-bottom: 36px;
    padding-top: 62px;

    grid-column: ~"2 / 7";

    z-index: 1;
  }
}

.week-product__header-label {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: @mint-light;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    text-align: center;
    line-height: 17px;
    padding: 6px 0 0 40px;
    grid-row: ~"1 / 2";
    grid-column: ~"4 / 5";
    justify-self: end;
  }

  @media (min-width: @desktop) {
    padding: 70px 30px 10px 20px;

    grid-column: ~"1 / 2";
    justify-self: center;
  }
}

.week-product__description {
  color: @black-light;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet) {
    font-size: 17px;
    line-height: 30px;
    margin-right: 45px;
    margin-bottom: 41px;

    grid-row: ~"2 / 3";
    grid-column: ~"1 / 3";
  }

  @media (min-width: @desktop) {
    margin-right: 58px;
    margin-bottom: 53px;

    grid-column: ~"2 / 4";
  }
}

.week-product__properties {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  @media (min-width: @tablet) {
    margin-right: 45px;
    margin-bottom: 38px;

    grid-row: ~"3 / 4";
    grid-column: ~"1 / 3";
  }

  @media (min-width: @desktop) {
    margin-right: 58px;
    margin-bottom: 90px;

    grid-column: ~"2 / 4";
  }
}

.week-product__property-row {
  display: flex;
  border-bottom: 1px solid @gray-border;
}

.week-product__property-name {
  color: @black-light;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  padding: 8px 5px 11px 0;
  margin: 0;
  flex-basis: calc(100% / 3);
  box-sizing: border-box;

  @media (min-width: @tablet) {
    padding: 6px 5px 12px 0;
  }
}

.week-product__property-value {
  color: @black-light;
  line-height: 20px;
  padding: 8px 0 11px 11px;
  margin: 0;
  box-sizing: border-box;

  @media (min-width: @tablet) {
    padding: 6px 0 12px 0;
  }

  @media (min-width: @desktop) {
    padding: 6px 0 13px 0;
  }
}

.week-product__price {
  font-size: 17px;
  font-weight: 700;
  color: @black-light;
  text-align: center;
  margin-bottom: 22px;

  @media (min-width: @tablet) {
    font-size: 20px;
    margin-right: 45px;
    margin-bottom: 33px;

    grid-row: ~"4 / 5";
    grid-column: ~"1 / 3";
  }

  @media (min-width: @desktop) {
    margin-right: 58px;
    margin-bottom: 31px;

    grid-column: ~"2 / 4";
  }
}

.week-product__button {
  @media (min-width: @tablet) {
    margin-right: 43px;

    grid-row: ~"5 / 6";
    grid-column: ~"1 / 3";
  }

  @media (min-width: @desktop) {
    margin-right: 58px;

    grid-column: ~"2 / 4";
  }
}

.week-product__image {
  margin-bottom: 11px;

  @media (min-width: @tablet) {
    margin-bottom: 0;
    padding-top: 11px;

    grid-row: ~"2 / 6";
    grid-column: ~"3 / 5";
    width: 100%;
    height: auto;
  }

  @media (min-width: @desktop) {
    padding-top: 0;

    grid-row: ~"1 / 6";
    grid-column: ~"4 / 7";
  }
}
