//Ширина контейнера
@mobile: 320px;
@tablet: 768px;
@desktop: 1150px;

//Боковые отступы контейнера
@mobile-padding: 30px;
@tablet-padding: 50px;
@desktop-padding: 50px;

//Верхний отступ контейнера .products-for-home
@pfh-mobile-padding: 73px;
@pfh-tablet-padding: 155px;
@pfh-desktop-padding: 156px;

//Высота верхних элементов шапки
@header-mobile-height: 80px;
@header-tablet-height: 87px;
@header-desktop-height: 88px;

//Размеры заголовков
@h-font-size-mobile: 25px;
@h-font-size-tablet: 43px;
@h-font-size-desktop: 53px;
@h-line-height-mobile: 30px;
@h-line-height-tablet: 50px;
@h-line-height-desktop: 57px;


// Цвета
@black-basic: #000000;
@black-transparent-10: rgba(0,0,0,0.1);
@black-transparent-20: rgba(0,0,0,0.2);
@black-transparent-30: rgba(0,0,0,0.3);
@black-transparent-60: rgba(0,0,0,0.6);
@black-light: #444444;
@black-light-transparent-10: rgba(68,68,68,0.1);
@black-light-transparent-30: rgba(68,68,68,0.3);
@black-icon: #231f20;
@white-basic: #ffffff;
@white-transparent-30: rgba(255,255,255,0.3);
@white-transparent-90: rgba(255,255,255,0.9);
@mint-light: #63d1bb;
@mint-light-hover: #59d5bc;
@mint-dark: #56c3b2;
@mint-link-border: #62d1ba;
@mint-link-border--active: rgba(70,193,174,0.1);
@mint-link: #46c1ae;
@gray-basic: #f1f1f1;
@gray-products: #fafafa;
@gray-border: #ececec;
@gray-border-modal: #c6c6c6;
@gray-border-dark: #e5e5e5;

//Тени
@product-shadow-hover: 0 6px 10px @black-transparent-10;
@product-shadow-active: 0 3px 5px @black-transparent-10;
@modal-shadow: 0 5px 10px 0 rgba(0,1,1,0.25);
