//Ширина контейнера
@mobile: 320px;
@tablet: 768px;
@desktop: 1150px;

//Боковые отступы контейнера
@mobile-padding: 30px;
@tablet-padding: 50px;
@desktop-padding: 50px;

//Верхний отступ контейнера .products-for-home
@pfh-mobile-padding: 90px;
@pfh-tablet-padding: 155px;
@pfh-desktop-padding: 155px;

//Высота верхних элементов шапки
@header-mobile-height: 80px;
@header-tablet-height: 87px;
@header-desktop-height: 87px;

//Размеры заголовков
@h-font-size-mobile: 25px;
@h-font-size-tablet: 43px;
@h-font-size-desktop: 53px;
@h-line-height-mobile: 30px;
@h-line-height-tablet: 50px;
@h-line-height-desktop: 57px;


// Цвета
@black-basic: #000000;
@black-transparent-30: rgba(0,0,0,0.3);
@black-transparent-10: rgba(0,0,0,0.1);
@black-light: #444444;
@black-icon: #231f20;
@white-basic: #ffffff;
@mint-light: #63d1bb;
@mint-dark: #56c3b2;
@gray-basic: #f1f1f1;
@gray-products: #fafafa;
@gray-border: #ececec;
@gray-border-dark: #e5e5e5;


//Тестовые цвета

@gray-test: #888888;
@green-test: #22cc22;
@gray-temporary: #555555;
