// Цвета
@black-basic: #000000;
@black-transparent-30: rgba(0,0,0,0.3);
@black-light: #444444;
@black-icon: #231f20;
@white-basic: #ffffff;
@mint-light: #63d1bb;
@mint-dark: #56c3b2;
@gray-basic: #f1f1f1;
@gray-products: #fafafa;
