.week-product__header-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.week-product__header-label {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: @mint-light;
}

.week-product__description {
  color: @black-light;
}

.week-product__property-name {
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

.week-product__property-value {
  line-height: 20px;
}

.week-product__price {
  font-size: 17px;
  color: @black-light;
}
